.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0 50px;
}

.logo{
    width: 100px;
}

.nav ul{
   list-style-type: none;
   display: flex;
}
.nav ul li{
    padding: 10px 20px;
    font-size: 20px;

}
.search{
    padding: 20px;
}
.restro-card{
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 5px
}
.restro-card img{
    max-width: 100%;
}